body
{

    background-color: rgb(58, 235, 235);
}
h1,p
{
    text-align: center;
    color: black;
}
.navbar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: -1rem 2rem;
    background-color: bisque;
}
.nav-links
{
    list-style: auto;
    display : flex;
    gap : 1rem;
    margin : 15px;
    margin-right :60px;
}
.nav-links a:hover
{
    color: rgb(240, 77, 77);

}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.content
{
    margin: 20px;
    padding: 10px;
    background-color: bisque;
    border-radius: 8px;
}
.content h2
{
    text-align: center;
    color: black;
}
.content p
{
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}
.content button
{
    display: inline-flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(58, 235, 235);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-items: center;
}
.content button:hover
{
    background-color: rgb(240, 77, 77);
    color: white;
}
.footer
p{
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: auto;
}