.head
{
    text-align: center;
    padding: 10px;
    color: black;
}
.navbar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: -1rem 2rem;
    background-color: bisque;
}
.nav-links
{
    list-style: auto;
    display : flex;
    gap : 1rem;
    margin : 15px;
    margin-right :60px;
}
.nav-links a:hover
{
    color: rgb(255, 0, 0);

}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.content
{
    margin: 20px;
    padding: 10px;
    background-color: bisque;
    border-radius: 8px;
}
.content h2
{
    text-align: center;
    color: black;
}
.content p
{
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}
.content button
{
    display: inline-flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(58, 235, 235);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-items: center;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}
.content button:hover
{
    background-color: rgb(240, 77, 77);
    color: white;
}
.footer
p{
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: auto;
}
body
{
    /* background-image: url('../image/djo.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top,center;
    background-size: contain;

}
.sam
p{
    margin: 20px;
    background-color: bisque;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    color: black;

}

.one {
    background-color: rgb(125, 255, 255);
}
.two
{
    background-color: rgb(39, 93, 255); 
}
.one button
{
    display: inline-flex;
    margin-right: 20px;
    font-size: 1rem;
    background-color: rgb(0, 255, 30);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-items: center;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}
.one button:hover
{
    background-color: rgb(0, 0, 0);
    color: white;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap: 30px;
}
.container1
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap: 30px;
    grid-row-end: auto;
}
